
  .headercentr {
    text-align: center;
  }
  
  .headerright {
    text-align: right;
    margin-left: 100px
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #fff
  }
  
  .headerleft {
    text-align: left;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #fff
  }
  .conteiner {
    display: flex;
    justify-content: space-between;
    background-color: #0F3739
  }
  .conteiner1 {
    text-align: center;
    background-color: #0F3739;
    font-family: 'Raleway',sans-serif;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    color:#0F3739;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 0.08em;
    text-align: center;
  }
  .tablestring {
    vertical-align:bottom;
    font-family: 'Raleway',sans-serif;
    font-size: 25px;
    color: #fff;

}